{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<title>Ken Baur Profile</title>
	<link rel='stylesheet' href='{% static "style.css" %}' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<header class='name'>Ken(ny) Baur</header>
	<div class='info_box'>
		<p class='about'>Projects</p>
		<div class='about_me'>
			<ul class ='examples'>
				<li><a href="https://github.com/Nooth/twitter_followers_tweepy" class="gh fa fa-github"></a> - Twitter Followers/Tweepy</li>
				<li><a href="https://github.com/Nooth/Vt-Income" class="gh fa fa-github"></a> - Bokeh/BS/Numpy/Pandas Web Scrape</li>
				<li><a href="https://github.com/Nooth/TH-TD-Project-Three" class="gh fa fa-github"></a> - Treehouse TD Project</li>
			</ul>
			<a class='home' href="/">Home Page</a>	
		</div>
	</div>

</body>
</html>




